# MySQL Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=quiz_management_system
DB_USER=root
DB_PASSWORD=01600@Emon

# Session Secret
SESSION_SECRET=change_this_to_a_long_random_secret

# App
PORT=3000
NODE_ENV=development

# Code Execution, optional
PISTON_API_URL=http://localhost:2000/api/v2/execute
PISTON_HTTP_TIMEOUT_MS=60000
